@import url("/styles/header.css");
@import url("/styles/datas.css");
@import url("/styles/footer.css");

:root {
    --roxo:#4650BD;
    --roxo-claro:#606ADA;
    --branco: #ffffff;
    --cinza:#444444;
    --verde: #008364;
    --gradiente: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    --fonte-principal: "Raleway";
    --fonte-secundaria:"Calistoga" ;
}

/* 
font-family: 'Calistoga', cursive;
font-family: 'Raleway', sans-serif;
*/
 

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;    
    background-image: url("img/Azul.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
