.accordion {
    background-color: var(--roxo);
    color: var(--branco);
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 1em;
    width: 90vw;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    justify-content: center;
    padding: 1em;
    background-color: #C8DEEF;
    width: 79vw;
    display: none;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; 
}

.perguntas__titulo {
    font-size: 32px;
    font-weight: 400;
    color: var(--branco);
    font-family: 'Calistoga';
    text-align: center;
    padding: 2em 2em 1em 2em
}

.perguntas__item {
    padding: 0.5em;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
} 

.texto__perguntas {
    font-size: 20px;
    color: #444444;
    font-weight: 500;
}

.active, .accordion:hover {
    background-color: var(--roxo-claro);
}

.informacoes__imagem-768 {
    display: none;
}

.informacoes__imagem-1440 {
    display: none;
}

@media screen and  (min-width:768px) {

    .informacoes__imagem-1440 {
        display: none;
    }
    .informacoes__imagem {
        display: none;
    }

    .informacoes__imagem-768 {
        display: block;
        width: 100vw;
    }

    .perguntas__titulo {
        font-size: 48px;
        font-weight: 400px;
        margin: 0;
        padding: 1em 1em 0.5em 1em;
    }

    .accordion {
        font-size: 32px;
        font-weight: 700;
        padding: 0.5em;
        width: 90vw;
    }

    .perguntas__item {
        margin: 0 2em;
    }

    .panel {
        width: 84.8vw;
    }
}

@media screen and (min-width:1440px) {

    .informacoes__imagem-1440 {
        display: block;
    }

    .informacoes__imagem-768 {
        display: none;
    }

    .perguntas {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accordion {
        padding: 0;
        justify-content: left;
        width: 70vw;
        padding: 1em;
        margin: 0;
    }

    .panel {
        width: 67.2vw;
        margin: 0;
        font-weight: 500;
    }

    .perguntas__item {
        padding: 0.5em;
    }  
}